In [1]:
import pandas as pd
import numpy as np

## Important Keywords

- sep : sep/separator arguement takes the arguemnt that separates 2 values

- names : names arguement gives the names to the columns

- index : index arguement provides names to the rows

- iloc : iloc provides the data for the mentioned "row index"; accepts numeric values

- loc : loc provides the data for the index "name"; accepts string

In [3]:
df = pd.read_csv('iris.csv',sep=',')

In [13]:
df

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [38]:
df2 = pd.read_csv('sample.txt', sep='#', index_col = 1)

In [39]:
df2

        Roll No  Marks
Name
Rohan         1     40
Suryan        2     39
Akash         3     78

In [40]:
df = pd.read_csv('Iris.csv', names=['Sepal Length', 'Sepal Width', 'Petal Length', 'Petal Width', 'Class'])                 

df.head()                 # head() arguement provides the first few rows

   Sepal Length  Sepal Width  Petal Length  Petal Width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [41]:
df.iloc[0]

Sepal Length            5.1
Sepal Width             3.5
Petal Length            1.4
Petal Width             0.2
Class           Iris-setosa
Name: 0, dtype: object

In [44]:
df2.loc['Akash']

Roll No     3
Marks      78
Name: Akash, dtype: int64