In [1]:
import pandas as pd 
import numpy as np

## Iterables

- Sequence data str. are iterable

In [2]:
a = [1,2,3,4,5,6]                     # List
b = (1,2,3,4,5,6)                     # Tuple
c = {'a':1, 'b':2}                    # Dictionary
d = {1,2,3,4,5,6}                     # Set
e = "Welcome to this session"         # String

- in requires an iterable in for loop

- loops working on every iterable are called for each loop

In [3]:
for i in a:                         # for each loop working on iterables
    print(i)

1
2
3
4
5
6

In [4]:
for i,j in c.items():               # i refers to keys and j refers to items
    print(i,j)

a 1
b 2

In [5]:
for i in d:
    print(i)

1
2
3
4
5
6

In [6]:
for i in e:
    print(i)

W
e
l
c
o
m
e

t
o

t
h
i
s

s
e
s
s
i
o
n

In [7]:
for i in range(0,len(a)):
    print(a[i])

1
2
3
4
5
6

Important functions used:

    1. sum()
    2. sorted()
    3. any()
    4. all()

- any(): if any item in an iterable is amounting to true, it'll return true

- all(): if all values in an iterable are false, it'll return false and vice versa

In [8]:
sum(b)

21

In [9]:
mydict = {1:100, 2:200, 3:300}
sum(mydict)                           # gives 6 because if not mentioned, dictionary functions are applied on keys

6

In [10]:
sorted(a)

[1, 2, 3, 4, 5, 6]

In [11]:
a = [1,2,3,4,5,0]
b = [1,2,3,4,5,6]

In [12]:
print(any(a))              
print(any(b))

True
True

In [13]:
print(all(a))
print(all(b))

False
True

#

## Missing Values

- 0 is not NULL/NAN

In [14]:
a = [1,2,3,4,5,345,45,78,-67,75,-65, np.nan,np.nan]          # if use want to add nan values in our data, we'll use np.nan operation

In [15]:
a

[1, 2, 3, 4, 5, 345, 45, 78, -67, 75, -65, nan, nan]

In [16]:
np.array(a)

array([  1.,   2.,   3.,   4.,   5., 345.,  45.,  78., -67.,  75., -65.,
        nan,  nan])

In [17]:
import math

In [18]:
print(math.isnan(np.nan))                      # isnan checks if the provided arguement is null or not
print(math.isnan(0))

True
False

#

## Map

## Filter

## Reduce

- These three are high level functions

- Map works by applying the specified operation on every iterable

- Filter function checks if the specified function can be applied on the iterables or not

- Syntax: 

            name(function, iterable)

In [29]:
b = [1,2,3,4,5,6,7,8,9,0,np.nan,np.nan]

In [31]:
list(map(math.sqrt,b))

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 0.0,
 nan,
 nan]

In [21]:
mapped = list(map(math.isnan,b))

In [22]:
mapped

[False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True]

In [23]:
sum(mapped)

2

In [24]:
sum(list(map(math.isnan,b)))              # returns the sum of all false values in b; false values are nan

2

In [25]:
list(filter(math.isnan,b))               # returns all null values from a list

[nan, nan]

In [26]:
if len(list(filter(math.isnan,b)))>0:
    print("Missing values")

Missing values

In [27]:
if len(list(filter(not(math.isnan),b)))>0:             # Gives error because not is an operator but not a function here
    print("Missing values")

TypeError: 'bool' object is not callable

#### Exercise: 
            
            1. Reduce function
            
            2. why is not in filter giving an error and how to fix that error

Fix for above error

In [ ]:
if len(list(filter(lambda x: not(math.isnan(x)),b))):                  # Gets fixed because lambda function makes the next lines as an anonymous function themselves
    print("Fixed")

Fixed

- Reduce function reduces the iterables to a single value by applying a single operation

- The data type of output will be same as that of inputs

In [ ]:
from functools import reduce

In [ ]:
reduce(lambda x,y:(x+y),b)

nan

In [ ]:
arr = [1,2,3,4,5,6,7,8,9]  

def ReturnSum(m,n):                    # This function will work in place of lambda function
    return m+n

# As lambda ->  lambda m,n:m+n

In [ ]:
reduce(ReturnSum,arr)

45

In [ ]:
def getHouse(n):
    if n==1:
        return True
    else:
        return False

# lambda n: True if n==1 else False               # Another way to use a shorted form for the data